site_name: pwdlib
site_description: Modern password hashing for Python

repo_url: https://github.com/frankie567/pwdlib
repo_name: frankie567/pwdlib

theme:
    name: material
    icon:
        logo: octicons/key-16
    palette:
        # Palette toggle for automatic mode
        - media: "(prefers-color-scheme)"
          toggle:
            icon: material/brightness-auto
            name: Switch to light mode

        # Palette toggle for light mode
        - media: "(prefers-color-scheme: light)"
          scheme: default
          primary: amber
          accent: amber
          toggle:
            icon: material/brightness-7
            name: Switch to dark mode

        # Palette toggle for dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          primary: amber
          accent: amber
          toggle:
            icon: material/brightness-4
            name: Switch to light mode
    features:
      - content.code.copy

markdown_extensions:
    - toc:
        permalink: true
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.tasklist:
        custom_checkbox: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - pymdownx.superfences
    - admonition

plugins:
    - search
    - autorefs
    - mkdocstrings:
        handlers:
            python:
                import:
                    - https://docs.python.org/3.8/objects.inv
                options:
                    docstring_style: google

watch:
    - docs
    - pwdlib

nav:
    - About: index.md
    - Guide: guide.md
    - Reference:
        - pwdlib: reference/pwdlib.md
        - pwdlib.exceptions: reference/pwdlib.exceptions.md
        - pwdlib.hashers: reference/pwdlib.hashers.md
